<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Leon Klute Blogs</title>
  <meta name="description" content="Blog website of Leon Klute">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <!--  <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">-->
  <meta name="theme-color" content="#fafafa">
</head>

<body>

<!-- Add your site or application content here -->
<script src="js/vendor/htmx.min.js"></script>
<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<a href="http://www.leonklute.nl" style="position: absolute; color: white">
  <i class="material-symbols-outlined" style="font-size: 50px">home</i>
</a>
<div class="my-header">
  <h2 style="margin-block-start: 0; margin-block-end: 0">Leon Klute Blogs</h2>
  <h4 style="margin-block-start: 0; margin-block-end: 0">Personal blog website</h4>
</div>
<div class="my-page">
  <div class="side-bar">
    <button hx-get="blog/quarkus-spring-boot.html" hx-swap="innerHTML"
            class="blog-link" hx-target="#article">
      Quarkus vs Spring Boot, heeft het nieuwe framework een kans?
    </button>
    <button hx-get="blog/java21optional.html" hx-swap="innerHTML"
            class="blog-link" hx-target="#article">
      Using the features of openJDK 21 to create a better <code>Optional</code>
    </button>
  </div>
  <div class="article">
    <p id="article">
  </div>
</div>
<script>
  const blogButtons = document.getElementsByClassName("blog-link");
  let selectedButton = null;

  for (let btn of blogButtons) {
    btn.addEventListener("click", selected);
  }

  function selected(event) {
    if (selectedButton !== null) {
      selectedButton.className = "blog-link";
    }
    event.target.classList.add("selected");
    selectedButton = event.target;
  }
</script>
</body>

</html>
